{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>




{{/head}}

{{$propositionHeader}}
  {{>includes/govuk_sornprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main">



  <div>
  <a class="back-to-previous" href="javascript:history.back()">Back <span class="visuallyhidden"> to the previous question</span></a>
  </div>

  <br clear="all">


  <form action="evl-3-flow" method="get" class="form">
  <input type="hidden" name="nextlink" value="sorn-vehicle-details">
  <input type="hidden" name="nextbacklink" value="evl-3-v5c">

  <div class="grid-row">
    <div class="column-two-thirds">

    <h1 class="form-title heading-large" style="margin:0.25em 0 2em 0;padding:0">
    Tell us about taking a vehicle off the road (SORN)
    </h1>

    <img src="/public/images/make-sorn-graphic.png" width="300" height="115">


    <label class="form-label" for="v11" style="font-size:120%;padding:0.75em 0 0.25em 0">
    Using the 16 digit reference number from your V11 reminder</label>
    <input class="form-control" type="text" id="v11" autocomplete="off" style="border:#ccc solid 2px;font-size:120%;width:280px;border-radius:4px;line-height:1.6;margin-bottom:2em" size="16" >

    <br clear="all">

    <a href="sorn-v5c" style="font-size:120%">Use a V5C to declare your vehicle off the road instead</a>

    </div>
  <div class="column-half">



  <br clear="all">



  <!-- Primary buttons, secondary links -->
  <div class="form-group" style="padding-top:1em">
    <input type="submit" class="button" value="Continue">
  </div>

</form>


  <br clear="all">


    


</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
